/* 
h3 {
    color: #e7ab3c;
} */
.banner-btn {
  background-color: #e7ab3c;
  color: white;
  border: none;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.print-product {
  background-color: #e0dede;
  box-shadow: 0px 0px 10px gray;
}
