* {
  margin: 0;
  padding: 0;
}
.home {
  background-color: white;
}
.home_banner {
  background-image: url("../../image/MainBanner.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  height: 80vh;
  display: block;
  position: relative;
}

.title h1 {
  text-align: center;
}

.home_banner a {
  color: white;
  text-align: center;
  font-weight: bolder;
  font-size: xx-large;
}

button {
  background-color: black;
  padding: 0;
  margin: 0;
}

.createTurnament {
  background: rgba(255, 255, 255, 0.5);

  height: 40vh;
}

.home_banner a:hover {
  color: #e7ab3c;
}

.indoor_sylhet {
  color: #e7ab3c;
}

.registerTeambtn {
  background-color: black;
  color: black;
}

.registerbtnText {
  color: black;
}
.indoorInSylhet {
  background-color: white;
  color: #ffa800;
  font-weight: bolder;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: 6px solid #ffa800;
}
.opponant-find {
  background-color: #ffa800;
}
.oponant-find-text h1 {
  color: white !important;
  font-weight: bolder;
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: 6px solid white;
}
.oponant-find-text h3 {
  color: white !important;
  font-weight: bolder;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: 6px solid white;
}
.oponant-find-text h5 {
  color: white !important;
}
.opponant-find-btn {
  background-color: #ffa800;
  color: white;
  border: 4px solid white;
}
.opponant-find-btn:hover {
  background-color: #18191b;
}
.card-image {
  width: 100%;
  height: 300px;
  border-radius: 2%;
}
.booking-card-info {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 90%;
  border-radius: 2%;
}
.indoorlist-btn {
  background-color: #ffa800;
  color: white;
  border: none;
}
.indoorlist-btn:hover {
  background-color: #18191b;
  color: white;
  border: none;
}
