.header {
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.ankor {
  color: white !important;
  font-size: 18px;
}
#basic-nav-dropdown {
  color: white !important;
  font-size: 18px;
}
.ankor:hover {
  background-color: rgb(241, 188, 49);
}
#basic-nav-dropdown:hover {
  background-color: rgb(241, 188, 49);
}
.toggle {
  background-color: white;
}
.header-btn {
  color: white;
}
.availableBtn {
  background-color: #1f2029;
  color: white;
  border: none;
  font-size: 18px;
}
.availableBtn :hover {
  background-color: rgb(241, 188, 49);
}
.save-btn {
  color: #1f2029;
  border-bottom: none !important;
}
.cancel-btn {
  color: red;
  background-color: white;
  border: none;
}
.available input {
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid black;
  background-color: white;
}
.available ::placeholder {
  color: black;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content :hover {
  background-color: rgb(241, 188, 49);
}
.dropdown {
  color: white;
  font-size: 18px;
}
.nav-logo {
  background-color: #e5eaed;
}
