.header {
  background-color: #1f2029;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.ankor {
  color: white !important;
  font-size: 18px;
}
#basic-nav-dropdown {
  color: white !important;
  font-size: 18px;
}
.ankor:hover {
  background-color: rgb(241, 188, 49);
}
#basic-nav-dropdown:hover {
  background-color: rgb(241, 188, 49);
}
.toggle {
  background-color: white;
}
.header-btn {
  background-color: rgb(241, 188, 49);
  color: white;
}
