.tournament {
  min-height: 100vh;
  background-color: white;
}
.tournamnetHomePage {
  background-color: #ffa800;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
.tournament input {
  border-bottom: 3px solid black !important;
}
.tournament-btn {
  background-color: #1273eb;

  color: white;
  border: none;
}

.Details-tournament {
  min-height: 80vh;
  background-color: white;
}
.dispTournament-text {
  color: gray;
}
Modal {
  background-color: black;
}
th {
  background-color: #1273eb !important;

  color: white;
}
.header-text-crTournament {
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.display-tournamnet {
  min-height: 100%;
}
